In [1]:
import pandas as pd
import numpy as np
import ast
import re

In [2]:
df = pd.read_csv("../dataset/resume_data.csv")
df.head(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.85
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.75

In [3]:
df.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', 'job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='str')

In [4]:
df_final = df

In [5]:
df_final.shape

(9544, 35)

In [6]:
df_final.info()

<class 'pandas.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    str
 1   career_objective                     4740 non-null   str
 2   skills                               9488 non-null   str
 3   educational_institution_name         9460 non-null   str
 4   degree_names                         9460 non-null   str
 5   passing_years                        9460 non-null   str
 6   educational_results                  9460 non-null   str
 7   result_types                         9460 non-null   str
 8   major_field_of_studies               9460 non-null   str
 9   professional_company_names           9460 non-null   str
 10  company_urls                         9460 non-null   str
 11  start_dates                          9460 non-null   str
 12  end_dates                            9460 non-null   str
 13  related_skils_in_job                 9460 non-null   str
 14  positions                            9460 non-null   str
 15  locations                            9460 non-null   str
 16  responsibilities                     9544 non-null   str
 17  extra_curricular_activity_types      3426 non-null   str
 18  extra_curricular_organization_names  3426 non-null   str
 19  extra_curricular_organization_links  3426 non-null   str
 20  role_positions                       3426 non-null   str
 21  languages                            700 non-null    str
 22  proficiency_levels                   700 non-null    str
 23  certification_providers              2008 non-null   str
 24  certification_skills                 2008 non-null   str
 25  online_links                         2008 non-null   str
 26  issue_dates                          2008 non-null   str
 27  expiry_dates                         2008 non-null   str
 28  job_position_name                    9544 non-null   str
 29  educationaL_requirements             9544 non-null   str
 30  experiencere_requirement             8180 non-null   str
 31  age_requirement                      5457 non-null   str
 32  responsibilities.1                   9544 non-null   str
 33  skills_required                      7843 non-null   str
 34  matched_score                        9544 non-null   float64
dtypes: float64(1), str(34)
memory usage: 18.2 MB

In [7]:
df_final.describe()

       matched_score
count    9544.000000
mean        0.660831
std         0.167040
min         0.000000
25%         0.583333
50%         0.683333
75%         0.793333
max         0.970000

In [8]:
df_final.isna().sum()

address                                8760
career_objective                       4804
skills                                   56
educational_institution_name             84
degree_names                             84
passing_years                            84
educational_results                      84
result_types                             84
major_field_of_studies                   84
professional_company_names               84
company_urls                             84
start_dates                              84
end_dates                                84
related_skils_in_job                     84
positions                                84
locations                                84
responsibilities                          0
extra_curricular_activity_types        6118
extra_curricular_organization_names    6118
extra_curricular_organization_links    6118
role_positions                         6118
languages                              8844
proficiency_levels                     8844
certification_providers                7536
certification_skills                   7536
online_links                           7536
issue_dates                            7536
expiry_dates                           7536
job_position_name                         0
educationaL_requirements                  0
experiencere_requirement               1364
age_requirement                        4087
responsibilities.1                        0
skills_required                        1701
matched_score                             0
dtype: int64

In [9]:
df_final = df_final.dropna(subset=["degree_names"])
df_final.head(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.85
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.75

In [10]:
df_final.shape

(9460, 35)

In [11]:
df_final.info()

<class 'pandas.DataFrame'>
Index: 9460 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    str
 1   career_objective                     4740 non-null   str
 2   skills                               9404 non-null   str
 3   educational_institution_name         9460 non-null   str
 4   degree_names                         9460 non-null   str
 5   passing_years                        9460 non-null   str
 6   educational_results                  9460 non-null   str
 7   result_types                         9460 non-null   str
 8   major_field_of_studies               9460 non-null   str
 9   professional_company_names           9376 non-null   str
 10  company_urls                         9376 non-null   str
 11  start_dates                          9376 non-null   str
 12  end_dates                            9376 non-null   str
 13  related_skils_in_job                 9376 non-null   str
 14  positions                            9376 non-null   str
 15  locations                            9376 non-null   str
 16  responsibilities                     9460 non-null   str
 17  extra_curricular_activity_types      3426 non-null   str
 18  extra_curricular_organization_names  3426 non-null   str
 19  extra_curricular_organization_links  3426 non-null   str
 20  role_positions                       3426 non-null   str
 21  languages                            700 non-null    str
 22  proficiency_levels                   700 non-null    str
 23  certification_providers              1980 non-null   str
 24  certification_skills                 1980 non-null   str
 25  online_links                         1980 non-null   str
 26  issue_dates                          1980 non-null   str
 27  expiry_dates                         1980 non-null   str
 28  job_position_name                    9460 non-null   str
 29  educationaL_requirements             9460 non-null   str
 30  experiencere_requirement             8108 non-null   str
 31  age_requirement                      5409 non-null   str
 32  responsibilities.1                   9460 non-null   str
 33  skills_required                      7774 non-null   str
 34  matched_score                        9460 non-null   float64
dtypes: float64(1), str(34)
memory usage: 18.0 MB

In [12]:
df_final.describe()

       matched_score
count    9460.000000
mean        0.660906
std         0.167003
min         0.000000
25%         0.583333
50%         0.683333
75%         0.793333
max         0.950000

In [13]:
def normalize_cell(x):
    # ---------- 1. NaN ----------
    if pd.isna(x):
        return []

    value = x

    # ---------- 2. Parse stringified list ----------
    if isinstance(x, str):
        x = x.strip()

        if x.upper() == "N/A":
            return []

        if x.startswith("[") and x.endswith("]"):
            try:
                value = ast.literal_eval(x)
            except Exception:
                value = x
        else:
            value = x

    # ---------- 3. If list / nested list ----------
    if isinstance(value, list):
        flat = []
        for item in value:
            if isinstance(item, list):
                flat.extend(item)
            elif item not in (None, "N/A"):
                flat.append(item)

        # clean each element but KEEP list
        cleaned = []
        for i in flat:
            text = str(i)
            text = re.sub(r"(\\n|\n)", " ", text)
            text = re.sub(r"[^a-zA-Z0-9 ]+", " ", text)
            text = re.sub(r"\s+", " ", text)
            text = text.strip().lower()
            if text:
                cleaned.append(text)

        return cleaned

    # ---------- 4. Single string → return as single-item list ----------
    text = str(value)
    text = re.sub(r"(\\n|\n)", " ", text)
    text = re.sub(r"\bN/A\b", "", text, flags=re.IGNORECASE)
    text = re.sub(r"[^a-zA-Z0-9 ]+", " ", text)
    text = re.sub(r"\s+", " ", text)
    text = text.strip().lower()

    return [text] if text else []

In [14]:
X = df_final.drop(["matched_score"], axis=1)

In [15]:
y = df["matched_score"]

In [16]:
df_final = X.apply(lambda col: col.map(normalize_cell))

In [17]:
df_final["matched_score"] = y.astype(np.float32)

In [18]:
df_final.shape

(9460, 35)

In [19]:
df_final.info()

<class 'pandas.DataFrame'>
Index: 9460 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              9460 non-null   object
 1   career_objective                     9460 non-null   object
 2   skills                               9460 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  responsibilities                     9460 non-null   object
 17  extra_curricular_activity_types      9460 non-null   object
 18  extra_curricular_organization_names  9460 non-null   object
 19  extra_curricular_organization_links  9460 non-null   object
 20  role_positions                       9460 non-null   object
 21  languages                            9460 non-null   object
 22  proficiency_levels                   9460 non-null   object
 23  certification_providers              9460 non-null   object
 24  certification_skills                 9460 non-null   object
 25  online_links                         9460 non-null   object
 26  issue_dates                          9460 non-null   object
 27  expiry_dates                         9460 non-null   object
 28  job_position_name                    9460 non-null   object
 29  educationaL_requirements             9460 non-null   object
 30  experiencere_requirement             9460 non-null   object
 31  age_requirement                      9460 non-null   object
 32  responsibilities.1                   9460 non-null   object
 33  skills_required                      9460 non-null   object
 34  matched_score                        9460 non-null   float32
dtypes: float32(1), object(34)
memory usage: 2.6+ MB

In [20]:
df_final.head(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,[],[big data analytics working and database wareh...,"[big data, hadoop, hive, python, mapreduce, sp...",[the amity school of engineering technology as...,[b tech],[2019],[],[],[electronics],[coca cola],...,[],[],[],[senior software engineer],[b sc in computer science engineering from a r...,[at least 1 year],[],[technical support troubleshooting collaborati...,[],0.85
1,[],[fresher looking to join as a data analyst and...,"[data analysis, data analytics, business analy...","[delhi university hansraj college, delhi unive...","[b sc maths, m sc science statistics]","[2015, 2018]",[],[],"[mathematics, statistics]",[bib consultancy],...,[],[],[],[machine learning ml engineer],[m sc in computer science engineering or in an...,[at least 5 year s],[],[machine learning leadership cross functional ...,[],0.75

In [21]:
df_final.tail(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
9542,[],[],"[machine learning, natural language processing...",[rajiv gandhi memorial university delhi],[b tech],[2020],[],[],[electrical],[zynta labs],...,[],[],[],[asst manager manger administrative],[bachelor honors],[at least 5 years],[age at least 28 years],[administrative support scheduling filing docu...,[administration health safety and environment ...,0.65
9543,[],[],"[assisted living, interpersonal and communicat...",[arizona state university],[b a],[],[cum laude],[],[organizational communication business managem...,"[company name, company name, company name, com...",...,[],[],[],[civil engineer],[b sc in civil engineering from a reputed univ...,[at least 5 years],[age at least 30 years],[design review coordination proposal preparati...,[autocad etabs microsoft office suite ms project],0.65

In [22]:
df_final = df_final.reset_index(drop=True)

In [23]:
df_final.shape

(9460, 35)

In [24]:
df_final.info()

<class 'pandas.DataFrame'>
RangeIndex: 9460 entries, 0 to 9459
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              9460 non-null   object
 1   career_objective                     9460 non-null   object
 2   skills                               9460 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  responsibilities                     9460 non-null   object
 17  extra_curricular_activity_types      9460 non-null   object
 18  extra_curricular_organization_names  9460 non-null   object
 19  extra_curricular_organization_links  9460 non-null   object
 20  role_positions                       9460 non-null   object
 21  languages                            9460 non-null   object
 22  proficiency_levels                   9460 non-null   object
 23  certification_providers              9460 non-null   object
 24  certification_skills                 9460 non-null   object
 25  online_links                         9460 non-null   object
 26  issue_dates                          9460 non-null   object
 27  expiry_dates                         9460 non-null   object
 28  job_position_name                    9460 non-null   object
 29  educationaL_requirements             9460 non-null   object
 30  experiencere_requirement             9460 non-null   object
 31  age_requirement                      9460 non-null   object
 32  responsibilities.1                   9460 non-null   object
 33  skills_required                      9460 non-null   object
 34  matched_score                        9460 non-null   float32
dtypes: float32(1), object(34)
memory usage: 2.5+ MB

In [25]:
df_final.describe()

       matched_score
count    9460.000000
mean        0.660906
std         0.167003
min         0.000000
25%         0.583333
50%         0.683333
75%         0.793333
max         0.950000

In [26]:
df_final.head(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,[],[big data analytics working and database wareh...,"[big data, hadoop, hive, python, mapreduce, sp...",[the amity school of engineering technology as...,[b tech],[2019],[],[],[electronics],[coca cola],...,[],[],[],[senior software engineer],[b sc in computer science engineering from a r...,[at least 1 year],[],[technical support troubleshooting collaborati...,[],0.85
1,[],[fresher looking to join as a data analyst and...,"[data analysis, data analytics, business analy...","[delhi university hansraj college, delhi unive...","[b sc maths, m sc science statistics]","[2015, 2018]",[],[],"[mathematics, statistics]",[bib consultancy],...,[],[],[],[machine learning ml engineer],[m sc in computer science engineering or in an...,[at least 5 year s],[],[machine learning leadership cross functional ...,[],0.75

In [27]:
df_final.tail(2)

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
9458,[],[],"[machine learning, natural language processing...",[rajiv gandhi memorial university delhi],[b tech],[2020],[],[],[electrical],[zynta labs],...,[],[],[],[asst manager manger administrative],[bachelor honors],[at least 5 years],[age at least 28 years],[administrative support scheduling filing docu...,[administration health safety and environment ...,0.65
9459,[],[],"[assisted living, interpersonal and communicat...",[arizona state university],[b a],[],[cum laude],[],[organizational communication business managem...,"[company name, company name, company name, com...",...,[],[],[],[civil engineer],[b sc in civil engineering from a reputed univ...,[at least 5 years],[age at least 30 years],[design review coordination proposal preparati...,[autocad etabs microsoft office suite ms project],0.65

In [28]:
df_final.to_csv("../dataset/cleaned_resume_data.csv", index=False)